.col-align {
    text-align: center;
    }
    
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }
    
.row-spacer {
    margin-bottom: 2em;
    }

body {
    background-image: url("../components/assets/background.jpg");
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    }

.card-info{
    font-size: 30px;
    font-family: cursive;
    color: white;
}